db.url=jdbc:mysql://192.168.42.99:3306/fsbhoa_db?useSSL=false&serverTimezone=UTC
db.username=remote_access
db.password=<actual password>
printer.ip=192.168.1.100
card.template.filepath=/opt/fsbhoa_print_service/templates/hoa_card_template.xml 
printer.sdk.image_temp_dir=./sdk_temp_images